$primary-blue:#3274ff;
$primary-color:white;

$reserve-blue:#0035ff;
$reserve-blue-dark:#101a52;

$text-color:rgb(43, 43, 50);

$font-size: 1rem


/*
@media (prefers-color-scheme: dark) {
  $primary-color:black;
}*/
